.formulario p {
  font-size: 16px;
  line-height: 28px;
}

form {
  background-color: #ffffff;
  border-radius: 15px;
  margin: 28px 0 50px;
}

fieldset {
  padding: 15px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  margin-bottom: 15px;
}

legend {
  font-weight: bold;
  font-size: 18px;
  padding: 0 8px;
}

label {
  font-size: 20px;
  font-weight: var(--text-weigth);
  display: inline-block;
  margin-bottom: 5px;
}

input[type="tel"] {
  margin-bottom: 0;
}

small {
  margin: 6px 0 20px;
  display: inline-block;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

textarea {
  min-height: 100px;
}

input:invalid,
textarea:invalid {
  border-color: rgb(206, 97, 97);
}

input:valid,
textarea:valid {
  border-color: rgb(8, 150, 8);
}

.envio h1 {
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
  color: #2e7d32;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .formulario p {
    font-size: 20px;
    line-height: 32px;
  }
  .contact.button {
    display: inline-block;
  }
  fieldset {
    display: flex;
    flex-direction: column;
  }
  fieldset .contact.button {
    align-self: center;
    margin-top: 25px;
  }
}