.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/img-bags-payments-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.second {
  background: url(../img/img-passaport-payments-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.thirdy {
  background: url(../img/img-people-payments-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

/*Pacotes de Viagens*/

.travel-packages.payments .content-container .image-gallery .image.first {
  background: url(../img/page-pacotes/payments-img1-mobile.png) no-repeat;
  background-size: cover;
}
.travel-packages.payments
  .content-container
  .image-gallery
  .image.image.second {
  background: url(../img/page-pacotes/payments-img2-mobile.png) no-repeat;
  background-size: cover;
}
.travel-packages.payments .content-container .image-gallery .image.thirdy {
  background: url(../img/page-pacotes/payments-img3-mobile.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url(../img/img-bags-payments-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/img-passaport-payments-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.thirdy {
    background: url(../img/img-people-payments-tablet.png) no-repeat;
    background-size: cover;
  }
  /*Pacotes de Viagens*/
  .travel-packages.payments .content-container .image-gallery .image.first {
    background: url(../img/page-pacotes/payments-img1-tablet.png) no-repeat;
    background-size: cover;
  }
  .travel-packages.payments
    .content-container
    .image-gallery
    .image.image.second {
    background: url(../img/page-pacotes/payments-img2-tablet.png) no-repeat;
    background-size: cover;
  }
  .travel-packages.payments .content-container .image-gallery .image.thirdy {
    background: url(../img/page-pacotes/payments-img3-tablet.png) no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }
  .payments .content-container .text-content {
    width: 360px;
  }
  .payments .content-container .image-gallery {
    width: 790px;
  }
}