.payments .image-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 24px;
  height: 460px;
  width: 100%;
}

.payments .content-container {
  display: flex;
}

.payments .content-container .image-content .image-bag {
  background: url(../img/Malas.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-content .image-passport {
  background: url(../img/passaporte.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-content .image-person {
  background: url(../img/Pessoas.png) no-repeat;
  background-size: cover;
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-content .image-bag {
    background: url(../img/malas-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-content .image-passport {
    background: url(../img/passaporte-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-content .image-person {
    background: url(../img/pessoas-tablet.jpg) no-repeat;
    background-size: cover;
    grid-column: span 2;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container .image-content .image-bag {
    background: url(../img/malas-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-content .image-passport {
    background: url(../img/passaporte-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-content .image-person {
    background: url(../img/pessoas-desktop.jpg) no-repeat;
    background-size: cover;
    grid-column: span 2;
  }
}

@media screen and (min-width: 440px) {
  .payment .content-container{
    justify-content: space-between;
  }
  .payments .text-content {
    width: 360px;
  }
  .payments .image-content {
    width: 790px;
  }
}
